include "startup.kdl"
include "devices.kdl"
include "local.kdl"
include "binds.kdl"
include "window-rules.kdl"
include "layout.kdl"

screenshot-path null
prefer-no-csd


animations {
}

recent-windows {
    open-delay-ms 0
}


hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

cursor {
    xcursor-theme "Future-cyan-cursors"
    xcursor-size 26
}

