input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_caps_toggle"
        }
        repeat-rate 50
        repeat-delay 150
    }
    touchpad {
        dwt
        tap
        natural-scroll
        middle-emulation
    }
    mouse {
        accel-profile "flat"
    }
    trackpoint {

    }
}

