layout {
    gaps 8
    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }
    default-column-width {
        proportion 1.0
    }
    focus-ring {
        off
        // width 2
        // active-color "#8caaee"
        // inactive-color "#626880"
    }
    border {
        on
        width 2
        active-color "#8caaee"
        inactive-color "#626880"
        urgent-color "#ef9f76"
    }
    shadow {
      off
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
    }
}
