spawn-at-startup "/usr/lib/xdg-desktop-portal-gtk"
spawn-at-startup "/usr/lib/xdg-desktop-portal-gnome"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "DISPLAY" "XDG_CURRENT_DESKTOP"

// spawn-sh-at-startup "~/.config/waybar/niri/launch.sh"
// spawn-at-startup "mako"
spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "swaybg -i ~/my/dotfiles/Pictures/comfy-home.png -m fill"
spawn-at-startup "gammastep"
spawn-at-startup "lxqt-policykit-agent"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "wayland-pipewire-idle-inhibit"

spawn-sh-at-startup "sleep 1 && gtk-launch google-chrome"
